.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 80px; 
  overflow: hidden;
  > .con-left {
    width: 625px;
    .banner {
      width: 625px;
      float: left;
      img {
        width: 625px;
        height: 270px;
      }
    }
    .topic {
      width: 643px;
      float: left;
      margin-left: -18px;
      border-bottom: 1px solid #f0f0f0;
      .class-item {
        background: #f0f0f0;
        border-radius: 4px;
        margin: 18px;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
        padding-right: 8px;
        overflow: hidden;
        float: left;
        img {
          float: left;
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }
      }
    }
    .article {
      float: left;
      .art-item {
        padding: 20px 0;
        border-bottom: 1px solid #f0f0f0;
        h5 {
          display: inherit;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.5;
          color: #2f2f2f;;
        }
        p {
          margin: 0 0 8px;
          font-size: 13px;
          line-height: 24px;
          color: #999;
        }
        img {
          margin-left: 20px;
          width: 150px;
          height: 100px;
          float: right;
        }
      }
      .loadMore {
        width: 100%;
        height: 40px;
        color: #fff;
        background: #a5a5a5;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
      }
    }
  }
  > .con-right {
    margin-top: -10px;
    overflow: hidden;
    .club {
      a {
        display: inline-block;
        width: 280px;
        height: 50px;
        margin: 5px 0;
        background-size: cover 
      }
    }
    .qr-code {
      margin-top: 10px;
      float: right;
      width: 280px;
      border: 1px solid #f0f0f0;
      border-radius: 10px;
      padding: 10px 20px;
      box-sizing: border-box;
      position: relative;
      > img {
        width: 60px;
        height: 60px;
        opacity: .85;
        float: left;
      }
      .cont {
        padding: 12px 0 12px 15px;
        overflow: hidden;
        cursor: pointer;
        h4 {
          font-size: 15px;
          color: #333;
        }
        p {
          margin-top: 5px;
          font-size: 14px;
          color: #999
        }
        
      }
      .code {
        display: none;
        &::before {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          position: absolute;
          z-index: 2;
          left: 50%;
          top: 170px;
          transform: rotate(45deg);
          background: #fff;
          transform-origin: left top;
          border-right: 1px solid #ccc; 
          border-bottom: 1px solid #ccc; 
        }
        position: absolute;
        top: -200px;
        left: 40px;
        width: 180px;
        height: 180px;
        margin: 10px;
        background: #fff;
        border: 1px solid #999;
        box-shadow: 0 4px 5px #ccc;
        border-radius: 5px;
        img {
          margin: 5%;
          width: 90%;
          height: 90%;
        }
      }
      &:hover {
        .code {
          display: block;
        }
      }
    }
    .author {
      margin-top: 20px;
      float: right;
      width: 275px;
      > h5 {
        font-size: 14px;
        color: #969696;
        margin-bottom: 10px;
      }
      .author-item {
        padding: 10px 0;
        overflow: hidden;
        img {
          cursor: pointer;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
        }
        .cont {
          float: left;
          h5 {
            cursor: pointer;
            margin: 8px 0 0 10px;
            font-size: 14px;
            display: block;
          }
          p {
            margin: 10px 0 0 10px;
            font-size: 12px;
            color: #969696;
          }
        }
        .attent {
          cursor: pointer;
          margin-top: 5px;
          float: right;
          color: #42c02e;
          font-size: 14px;
          span {
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
      
    }
  }
  .back-top {
    position: fixed;
    right: 100px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #888;
    cursor: pointer;
  }
}
