.wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 80px;
  overflow: hidden;
}

.wrapper > .con-left {
  width: 625px;
}

.wrapper > .con-left .banner {
  width: 625px;
  float: left;
}

.wrapper > .con-left .banner img {
  width: 625px;
  height: 270px;
}

.wrapper > .con-left .topic {
  width: 643px;
  float: left;
  margin-left: -18px;
  border-bottom: 1px solid #f0f0f0;
}

.wrapper > .con-left .topic .class-item {
  background: #f0f0f0;
  border-radius: 4px;
  margin: 18px;
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  padding-right: 8px;
  overflow: hidden;
  float: left;
}

.wrapper > .con-left .topic .class-item img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.wrapper > .con-left .article {
  float: left;
}

.wrapper > .con-left .article .art-item {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}

.wrapper > .con-left .article .art-item h5 {
  display: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #2f2f2f;
}

.wrapper > .con-left .article .art-item p {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

.wrapper > .con-left .article .art-item img {
  margin-left: 20px;
  width: 150px;
  height: 100px;
  float: right;
}

.wrapper > .con-left .article .loadMore {
  width: 100%;
  height: 40px;
  color: #fff;
  background: #a5a5a5;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.wrapper > .con-right {
  margin-top: -10px;
  overflow: hidden;
}

.wrapper > .con-right .club a {
  display: inline-block;
  width: 280px;
  height: 50px;
  margin: 5px 0;
  background-size: cover;
}

.wrapper > .con-right .qr-code {
  margin-top: 10px;
  float: right;
  width: 280px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.wrapper > .con-right .qr-code > img {
  width: 60px;
  height: 60px;
  opacity: .85;
  float: left;
}

.wrapper > .con-right .qr-code .cont {
  padding: 12px 0 12px 15px;
  overflow: hidden;
  cursor: pointer;
}

.wrapper > .con-right .qr-code .cont h4 {
  font-size: 15px;
  color: #333;
}

.wrapper > .con-right .qr-code .cont p {
  margin-top: 5px;
  font-size: 14px;
  color: #999;
}

.wrapper > .con-right .qr-code .code {
  display: none;
  position: absolute;
  top: -200px;
  left: 40px;
  width: 180px;
  height: 180px;
  margin: 10px;
  background: #fff;
  border: 1px solid #999;
  -webkit-box-shadow: 0 4px 5px #ccc;
          box-shadow: 0 4px 5px #ccc;
  border-radius: 5px;
}

.wrapper > .con-right .qr-code .code::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 170px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.wrapper > .con-right .qr-code .code img {
  margin: 5%;
  width: 90%;
  height: 90%;
}

.wrapper > .con-right .qr-code:hover .code {
  display: block;
}

.wrapper > .con-right .author {
  margin-top: 20px;
  float: right;
  width: 275px;
}

.wrapper > .con-right .author > h5 {
  font-size: 14px;
  color: #969696;
  margin-bottom: 10px;
}

.wrapper > .con-right .author .author-item {
  padding: 10px 0;
  overflow: hidden;
}

.wrapper > .con-right .author .author-item img {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
}

.wrapper > .con-right .author .author-item .cont {
  float: left;
}

.wrapper > .con-right .author .author-item .cont h5 {
  cursor: pointer;
  margin: 8px 0 0 10px;
  font-size: 14px;
  display: block;
}

.wrapper > .con-right .author .author-item .cont p {
  margin: 10px 0 0 10px;
  font-size: 12px;
  color: #969696;
}

.wrapper > .con-right .author .author-item .attent {
  cursor: pointer;
  margin-top: 5px;
  float: right;
  color: #42c02e;
  font-size: 14px;
}

.wrapper > .con-right .author .author-item .attent span {
  font-weight: 700;
  font-size: 16px;
}

.wrapper .back-top {
  position: fixed;
  right: 100px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: #888;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */